{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="center">
  <p>Welcome to Manifestation Magic!</p>
  <img id="logo" src="{% static 'manifest/images/placeholder-logo.png' %}" alt="Manifestation Magic Logo">
  </div>
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="center">
      <button class="large-button" type="submit">Login</button>
    </div>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
{% endblock %}
