/* css variables  */

:root {
    --primary-font: sans-serif;
    --secondary-font: serif;
    --brand-font:  serif;
    --text-color-dark: #313435;
    --text-color-light: #FCF4EE;
    --background-color: #FCF4EE;
    --navbar-color: #313435;
    --navbar-pop-color: #494B4C;
    --box-color: #A9B18F; 
    --sage: #A9B18F;
    --rosy-brown: #C89FA3;
    --seashell: #FCF4EE;
    --onyx: #313435;
    --outer-space: #494B4C;

}

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
}

nav {
    background-color: var(--navbar-color);
    color: var(--text-color-light);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
}

nav a {
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: var(--navbar-pop-color);
}

main {
    margin: 20px;
    min-height: 70vh;
}

footer {
    background-color: var(--background-color);
    color: var(--text-color-dark);
    padding: 10px;
    text-align: center;
}

h1 {
    color: var(--text-color-dark);
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

a {
    color: #008CBA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.manifestation_container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #A9B18F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description_container {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--seashell);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

label {
    font-size: 2rem;
    margin: 10px;
}

form li {
    list-style-type: none;
    font-size: 0.6rem;
    color: var(--onyx);
}

.helptext {
    font-size: small;
    color: var(--onyx);
}