/* css variables  */

:root {
    --primary-font: 'Figtree', sans-serif;
    --secondary-font: 'Caveat', serif;
    --brand-font:  'Griffy', serif;
    --text-color-dark: #313435;
    --text-color-light: #FCF4EE;
    --background-color: #F9E9DC;
    --navbar-color: #313435;
    --navbar-pop-color: #494B4C;
    --sage: #A9B18F;
    --rosy-brown: #C89FA3;
    --seashell: #fcf5ee;
    --onyx: #313435;
    --outer-space: #494B4C;
    --powder-blue: #AEC5EB;
    --fairy-tale: #E3BAC6; 
    --coral: #EB8258;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding-top: 50px;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
}

nav {
    background-color: var(--navbar-color);
    color: var(--text-color-light);
    display: none;
    position: absolute;
    width: auto;
    left: 0;
    top: 0;
    padding-top: 50px;
    border: 1px solid var(--navbar-color);
    border-radius: 0 0 10px 0;
}

.nav-list {
    font-size: 250%;
    letter-spacing: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.nav-list li {
    padding: 10px;
    margin: 10px;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    z-index: 98;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~.nav-toggle-label {
    color: var(--text-color-light);
}

.nav-toggle-label {
    font-size: 3rem;
    padding: 5px;
    z-index: 99;
}

#nav-logo {
    display: none;
}


nav a {
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: var(--navbar-pop-color);
}

main {
    margin-top: 30px;
    margin-left: 10px;
    min-height: 60vh;
}

#logo {
    max-width: 150px;
}

.brand {
    display: none;
    font-family: var(--brand-font);
    font-size: 200%;
    color: var(--sage);
    margin: 10px;
}

footer {
    color: var(--text-color-dark);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

.title {
    font-family: var(--brand-font);
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

a {
    color: var(--text-color-dark);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.manifestation_container {
    width: 90%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manifestation_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
}

.manifestation_container button {
    margin: 10px;
    padding: 10px;
    background-color: var(--sage);
    color: var(--text-color-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.manifestation_container h1 {
    font-size: 250%;
}

.description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.description_container p {
    font-size: 150%;
}

.info-container {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    

}

.info-container i {
    font-size: 150%;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
}

.manifestation-list {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    font-size: 180%;
    color: var(--text-color-dark);

}

.manifestation-list a {
    color: var(--text-color-dark);
    text-decoration: none;
}

.manifestation-list a:hover {
    text-decoration: underline;
    background-color: var(--outer-space);
    color: var(--text-color-light);
}

.home-info i {
    font-size: 60%;
}

.public-list {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    color: var(--text-color-dark);
}

.public-list a:hover {
    text-decoration: underline;
    background-color: var(--outer-space);
    color: var(--text-color-light);
}

.public-list a {
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: 180%;
    padding: 5px;
}

.center {
    text-align: center;
}

.login-button {
    background-color: var(--sage);
    color: var(--text-color-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    box-shadow: 3px 3px var(--outer-space);
}

.login-button:hover {
    background-color: var(--outer-space);
    color: var(--text-color-light);
}

.large-button {
    background-color: var(--sage);
    color: var(--text-color-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
    margin: 5px;
    font-size: 1.5rem;
    box-shadow: 3px 3px var(--outer-space);
}

.large-button:hover {
    background-color: var(--outer-space);
    color: var(--text-color-light);
}

.charge-button {
    background-color: var(--seashell);
    color: var(--text-color-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    box-shadow: 3px 3px var(--outer-space);
}

.charge-button:hover {
    background-color: var(--outer-space);
    color: var(--text-color-light);
}

form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

label {
    font-size: 2rem;
    margin: 10px;
}

form li {
    list-style-type: none;
    font-size: 0.6rem;
    color: var(--onyx);
}

.helptext {
    font-size: small;
    color: var(--onyx);
}

.style-container {
    padding: 10px;
    margin: 10px;
}

.delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-container form {
    box-shadow: none;
}

/* style choices  */

.moon { 
    background-color: var(--outer-space);
    color: var(--text-color-light);
    background-image: url('/static/manifest/images/moon.webp');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: top left;
}

.moon h1 {
    color: var(--text-color-light);
    font-weight: 200;
    text-shadow: 1px 1px var(--onyx);
}

.moon p {
    text-shadow: 1px 1px var(--onyx);
}

.neutral {
    color: var(--text-color-dark);
    border: #494B4C 1px solid;
}

.nature {
    background-color: var(--sage);
    color: var(--text-color-dark);
    background-image:  url('/static/manifest/images/nature2.webp');
    background-repeat: no-repeat;
    background-position: left;
}

.sun {
    background-color: var(--coral);
    color: var(--text-color-dark);
    background-image: url('/static/manifest/images/sun.webp');
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: center;
}

.stars {
    background-color: var(--outer-space);
    color: var(--text-color-light);
    background-image: url('/static/manifest/images/stars.webp');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.cosmic {
    background-color: #37092F;
    color: white;
    background-image: url('/static/manifest/images/cosmic.webp');
    background-position: center;
    background-repeat: no-repeat;
}

.witchy {
    background-color: var(--onyx);
    color: white;
    background-image: url('/static/manifest/images/witchy.webp'), url('/static/manifest/images/witchy2.webp');
    background-size: 300px 300px, 200px 200px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.witchy h1 {
    color: var(--text-color-light);
}

.hearts {
    background-color: var(--fairy-tale);
    color: var(--text-color-dark);
    background-image: url('/static/manifest/images/hearts.webp'), url('/static/manifest/images/hearts2.webp');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.antique {
    background-color: var(--rosy-brown);
    color: var(--text-color-dark);
    background-image: url('/static/manifest/images/antique.webp'), url('/static/manifest/images/antique2.webp');
    background-size: 200px 200px, auto;
    background-repeat: no-repeat;
    background-position: bottom right, center;
}

.pastel {
    /* background-color: #E6E6FA; */
    background-color: var(--fairy-tale);
    color: var(--text-color-dark);
    background-image: url('/static/manifest/images/pastel.webp'), url('/static/manifest/images/pastel2.webp');
    background-size: 300px 300px, 300px 300px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}



@media only screen and (min-width: 600px) {

    header {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        padding-top: 2px;
    }

    nav {
        display: flex;
        position: static;
        box-shadow: none;
        width: 100%;
        padding-right: 1rem;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0%;
        padding-top: 1px;
        border: 1px solid var(--navbar-color);
        border-radius: 0 0 0 0;
        background-color: var(--navbar-color);
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
        width: 90%;
        font-size: 120%;
        letter-spacing: 1px;
        padding: 2px;
        margin: 2px;
    }

    nav a {
        padding: 1px;
    }

    .nav-toggle-label {
        display: none;
    }

    #nav-logo {
        display: block;
    }

    #nav-logo img {
        max-width: 100px;
    }

    .brand {
        display: block;
    }

    .manifestation_container {
        width: 80%;
        max-width: 800px;
    }

    form {
        width: 80%;
    }
} 

@media only screen and (min-width: 768px){

    .nav-list {
        font-size: 160%;
        letter-spacing: 2px;
    }

    form {
        width: 60%;
    }

    #nav-logo img {
        max-width: 140px;
    }
}

@media only screen and (min-width: 992px){
    
    .nav-list {
        font-size: 250%;
        letter-spacing: 3px;
    }

    form {
        width: 50%;
    }
}