{% extends "base.html" %} {% block title %}About - Manifestation Magic{%
endblock %} {% block content %}
<div class="about">
  <h1>Manifestation Magic</h1>
  <p>
    Manifestation Magic is a platform where you can record your goals, wishes,
    and dreams.
  </p>
  <p>
    Create a manifestation, set a goal, and ask the universe for help. You can
    charge your manifestations with positive energy and share them with the
    world.
  </p>
  <p>
    Manifestation Magic is about discovering what you truly want, putting those
    ideas into words, and asking the universe to help you reach your goals. Is
    it magic? Spicy psychology? If it helps you, it is worthwhile!
  </p>
</div>
<div class="steps">
  <h2>Steps to Success</h2>
  <div class="steps-display">
    <div class="step">
      <h3>Focus on What You Want</h3>
      <p>
        Articulate your aspirations and dreams clearly. Putting your desires
        into words brings clarity and direction to your intentions.
      </p>
    </div>
    <div class="step">
      <h3>Visualize Your Goals</h3>
      <p>
        Imagine yourself achieving your goals. Visualization helps you believe
        in your dreams and stay motivated.
      </p>
    </div>
    <div class="step">
      <h3>Take Steps Towards Your Goal</h3>
      <p>
        Even the smallest actions can lead to significant changes. Start taking
        meaningful steps, no matter how small, towards achieving your goals.
      </p>
    </div>
    <div class="step">
      <h3>Believe You Are Worthy</h3>
      <p>
        Self-worth is key to manifestation. Trust that you deserve the success
        and happiness you seek.
      </p>
    </div>
    <div class="step">
      <h3>Ask the Universe for Help</h3>
      <p>
        The universe is full of energy and possibilities. Ask the universe to
        help you achieve your goals and dreams.
      </p>
    </div>
    <div class="step">
      <h3>Receive Gratefully</h3>
      <p>
        When you start to see results, express gratitude. Being thankful for
        progress attracts more positive outcomes.
      </p>
    </div>
    <div class="step">
      <h3>Detach Yourself from the Outcome</h3>
      <p>
        While it's important to have goals, it's equally crucial to release
        attachment to the results. Trust that the universe will deliver in the
        best way possible.
      </p>
    </div>
  </div>
</div>

{% endblock %}
