{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>{% block title %}Manifestation Magic{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'manifest/images/favicon.ico' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Figtree:wght@500&family=Griffy&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'manifest/css/style.css' %}" />
  </head>
  <body>
    <header>
      <input type="checkbox" id="nav-toggle" name="nav-toggle" />
      <label for="nav-toggle" class="nav-toggle-label"
        ><i class="fa-solid fa-bars"></i
      ></label>
      <nav>
        <a href="{% url 'home' %}" id="nav-logo" class="logo"
          ><img
            src="{% static 'manifest/images/placeholder-logo.png' %}"
            alt="Manifestation Magic Logo"
        /></a><span class="brand">Manifestation Magic</span>
        <ul class="nav-list">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'public_manifestations' %}">Shared</a></li>
        </ul>
        <ul class="nav-list">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <!-- displaying Django messages -->
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; 2025 Manifestation Magic. All rights reserved.</p>
    </footer>
    <script
      src="https://kit.fontawesome.com/d1240d6279.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
