{% extends "base.html" %}

{% block content %}

<div class="manifestation_container {{ manifestation.style_choice }}">
    <h1>{{ manifestation.title }}</h1>
    <p>{{ manifestation.style_choice }}</p>

    {% if manifestation.is_public %}
    <p>This manifestation is public</p>
        {% if manifestation.is_approved %}
        <p>approved!</p>
        {% else %}
        <p>not yet approved. Manifestations must be approved by an administrator before other users can view it.</p>
        {% endif %}
    {% else %}
    <p>not public</p>
    {% endif %}

    <div class="description_container">
        <p>{{ manifestation.description }}</p>
    </div>
    
    <p>Created on: {{ manifestation.created_on }}</p>
    <p>Last Charged: {{ manifestation.last_charged }} </p>
    {% if manifestation.is_charged %}
        <p>Charged: Yes</p>
    {% else %}
        <p>Charged: No</p>
    {% endif %}
    {% if manifestation.can_charge %}
        {% if user == manifestation.owner %}
            <form action="{% url 'charge_manifestation' manifestation.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit">Charge!</button>
            </form>
        {% else %}
            <p>Only the owner can charge this manifestation.</p>
        {% endif %}
    {% else %}
        <p>Cannot charge at this time</p>
        {% if manifestation.next_charge_time %}
            <p>You can recharge your manifestation again at {{ manifestation.next_charge_time }}</p>
        {% else %}
            <p>Next charge time is not available</p>
        {% endif %}
    {% endif %}
    
    {% if user == manifestation.owner %}
        <a href="{% url 'edit_manifestation' manifestation.slug %}">Edit Manifestation</a>
        <a href="{% url 'delete_manifestation' manifestation.slug %}">Delete Manifestation</a>
    {% endif %}
    
    <a href="{% url 'home' %}">Back to Home</a>
</div>
{% endblock %}
